<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Dashboard</title>
    </head>
    <body>
        <h1 class="greeting">Hello, {{request.session.first_name}}!</h1><h4 class="greeting logout"><a href="/logout">Logout</h4></a>
    
        <h2>Your Wish list:</h2>
        <table>
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Originally Added By</th>
                    <th>Dated Added</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            {% for wish in createdwishes %}
                <tr>
                    <td><a href="/wishes/{{wish.id}}">{{wish.name}}</a></td>
                    <td>{{wish.created.first_name}}</td>
                    <td>{{wish.created_at|date:"m/d/Y"}}&nbsp&nbsp&nbsp&nbsp&nbsp{{wish.name.created_at|date:"g:i a"}}</td>
                    <td><a href="/deleteitem/{{wish.id}}">Delete item</a></td>
                </tr>
            {% endfor %}
            {% for wish in likewishes %}
                <tr>
                    <td><a href="/wishes/{{wish.id}}">{{wish.name}}</a></td>
                    <td>{{wish.created.first_name}}</td>
                    <td>{{wish.created_at|date:"m/d/Y"}}&nbsp&nbsp&nbsp&nbsp&nbsp{{wish.name.created_at|date:"g:i a"}}</td>
                    <td><a href="/removeitem/{{wish.id}}">Remove from list</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table><br>
    
        
        <h2>Other Wish Lists:</h2>

        <table>
            <thead>
                <tr>
                    <th>Item</th>
                    <th>List Owner</th>
                    <th>Dated Added to List</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            {% for wish in otherWishes %}
                <tr>
                    <td><a href="/wishes/{{wish.id}}">{{wish.name}} {{wish.id}}</a></td>
                    <td>{{wish.created.first_name}}</td>
                    <td>{{wish.created_at|date:"m/d/Y"}}&nbsp&nbsp&nbsp&nbsp&nbsp{{wish.name.created_at|date:"g:i a"}}</td>
                    <td><a href="/addfromanother/{{wish.id}}">Add to my list</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table><br>
        {% if messages %}
            {% for message in messages %}
                <p class="{{message.tags}}">{{message}}</p>
            {% endfor %}
        {% endif %}
        <a href="/create">Add Item</a>
    </body>
</html>
