<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Wishes</title>
</head>
<body>  
    <h1 class="greeting">{{thiswish.name}}</h1>
    <h4 class="greeting logout"><a href="/dashboard">Home</a></h4>
    <h4 class="greeting logout"><a href="/logout">Logout</h4></a>
    <hr>
    <h2>Users who added this item to there wish list:</h2>
        {% for user in thiswish.users_wishes.all %}
            <p>{{user.first_name}}</p>
        {% endfor %}
        <p>{{thiswish.created.first_name}} </p>
</body>
</html>